.axure-section{
width: 100%;
height: 100%;
background: url("../img/background.png");
background-repeat: no-repeat;
background-size: cover;
background-position: center;
position: relative;
}

.axure-section::after{
  content:'';
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.55);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
   }

.section-axure_title {
color: white;
}



.axure-discription{
  margin-bottom: 57px;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  color: rgba(255, 255, 255, 0.8);
}

.axure_button{
  padding: 11px 26px;
  width: 135px;
  margin: auto;
  font-size: 15px;
  font-weight: 600;
  text-transform: capitalize;
  border: 1px solid #C4C4C4;
  background: transparent;
  color: white;
}

.axure_button:hover{
  color: rgba(194, 194, 194, 0.8);
  border-color:rgba(194, 194, 194, 0.8);
}

