

.awesome-discription, .pricing-discription, .customers-discription, .axure-discription{
  display: flex;
  align-items: center;
  justify-content: center;
}

.awesome-row{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.awesome-img, .customers_img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.awesome-row_title{
  display: flex;
  align-items: center;
  justify-content: center;
}

.awesom-row-text{
  display: flex;
  align-items: center;
  justify-content: center;
}

.pricing-row{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  }
  
  .customers-row{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

.customers-row-item_2 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.axure_button{
  display: flex;
  align-items: center;
}