.footer-section{
  background: #000;
  padding: 20px 0;
}

.footer-row{
  display: flex;
  flex-direction: column;
   justify-content: center;
  align-items: center;
    flex-wrap: wrap;
}

.footer_link{
  color: rgba(255, 255, 255, 0.5);
}

.foter_icon{
 
  margin-bottom: 18px;
}
.footer_icon_row{
  width: 320px;
   display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  transition: 0.3s;
}
.footer-icon-link_item{ 
  font-size: 1.4375rem;
  transition: 0.3s;
}
.footer-icon-link_item:hover{
  cursor: pointer;
  color:rgba(89, 59, 226, 0.7);;
  transform: scale(1.4);
  }

.footer_text{
  font-size: 0.75rem;
  font-family: 'Open sans';
  font-style: normal;
  width: 130px;
  color : rgba(255, 255, 255, 0.5);
 
 }