.header-section{ 
  background-color: black;
  padding: 20px 0;
}


.header-row{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
   /*justify-content: space-evenly;
   justify-content: start;*/
       }
       


.logo_text{
  font-size: 1.875rem;
  font-family: 'raleway';
  font-style: normal;
  font-weight: normal;
  color: white;
  text-transform: uppercase;
}

.logo_text::after{
  content: 'it';
  font-size: 1.875rem;
  color: #D98943;
  text-transform: uppercase;
  font-family: raleway;
}

.header_nav{
  display: flex;
  align-items: center;
  }

  .header-nav_block{
    display: flex;
 
 
  }

.header-nav_item{
  margin-left: 45px;
  color: rgba(255, 255, 255, 0.7);
  text-transform: capitalize;
  font-family: 'Open Sans';
  display: block;
  border-bottom: 3px solid transparent;
  border-left: 3px solid transparent;
 transition: 0.3s;
  }

.header-nav_item:hover{
cursor: pointer;
transform: scale(1.2);
border-bottom: 3px solid whitesmoke;
border-left: 3px solid whitesmoke;

}

.header-nav_item:first-child{
  margin-left: -45px;
}
.header-nav_link{
  color: rgba(155, 150, 150, 0.7);
}