.pricing-section{
  background:  #E5E5E5;
  padding: 80px 0px;
}

.pricing-discription{
  margin-bottom: 63px;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
}

.pricing-row{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  }
.pricing-row_item{
width: 340px;

}

.pricing-row_item-li:first-child{
  background:  #333333;
  margin-bottom: 1px;
  padding: 15px 144px 8px 144px;
  transition: 0.3s;
  }

.pricing-row-item1_text{
  color: #FFFFFF;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

.pricing-row_item-li:nth-child(2){
  background:  #333333;
  margin-bottom: 2px;
  padding: 26px 135px 33px 144px;
  transition: 0.3s;
  }

 .pricing-row-item2_text{
    color: #FFFFFF;
    font-size: 2.1875rem;
    font-style: normal;
    font-weight: 700;
    text-align: center;
 }

 .pricing-row_item-li:nth-child(3){
  background:  #333333;
  margin-bottom: 4px;
  padding: 17px 127px 14px 135px;
  transition: 0.2s;
  }

  .pricing-row_item-li:hover{
   
  cursor: pointer;
  background-color: orange;
  transform: scale(1.005);
  box-shadow: 5px 5px 5px 5px rgb(182, 177, 177);
  color: rgba(127, 131, 127, 0.8);
  }

  .pricing-row-item3_text{
    color: #FFFFFF;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 600;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    }
 
 .pricing-row_item4{
  background:  #FFFFFF;
  margin-bottom: 4px;
  padding: 10px 123px 11px 131px;
  transition: 0.3s;
  }
  .pricing-row_item4:hover{
    cursor: pointer;
    background-color: rgba(226, 147, 29, 0.5);
    transform: scale(1.03);
  }

  .pricing-row-item4_text{
    color:     #86878B;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    }
  
.pricing-row-item1_opt1{
  background:  #333333;
  margin-bottom: 2px;
  padding: 16px 132px 7px 132px;
}
