@import url("../css/awesome.css");
@import url("../css/pricing.css");
@import url("../css/flex.css");
@import url("../css/customers.css");
@import url("../css/axure.css");
@import url("../css/header.css");
@import url("../css/social.css");
@import url("../css/footer.css");
@import url("../css/firstscreen.css");
@import url("../css/contact.css");
@import url("../css/tabs.css");
@import url("../css/adaptiv.css");


* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}


.section{
  width: 100%;
  }

.conteiner{
  max-width: 1170px;
  padding: 0 15px;
  margin: auto;
  font-family: 'Open Sans', sans-serif;
  position: relative;
  z-index: 1;
}

.awesome-discription, .pricing-discription, .customers-discription, .axure-discription, .contact-discription{
  display: flex;
  align-items: center;
  justify-content: center;
}
.awesome-img, .customers_img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-title{
  text-transform: uppercase;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 2.25rem;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 34px;
}


.section-title::after{
  content:'';
width: 64px;
height: 2px;
background-color: #E72424;
display: block;
margin: auto;
margin-bottom: 34px;
margin-top: 34px;
}

.section-axure_title::after{
content:'';
width: 64px;
height: 2px; 
background-color: rgba(155, 155, 155, 0.8);
display: block;
margin: auto;
margin-bottom: 34px;
margin-top: 34px;
}